body{
    font-family: Helvetica, Verdana, serif;
    margin: auto;
    width:700px;
    background-color: #FAF0E6;

}

.box {
    border: black dashed 1px;
    position: relative;
    padding: 15px;
    margin-bottom:10px;
}


h2{
    margin-top: 10px;
    margin-bottom: 5px;
}


ol{
    margin-right:30px;
}

footer {
    position:absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

ul ul ul {
    list-style-type: square;
  }
ul ul {
    list-style-type: disc;
}


img {
    height: auto;
    max-width: 500px;
    margin-bottom:10px;
}

figcaption{
    margin-bottom:20px;
    font-style:italic;
}

.imgbox{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

table{
    width:100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align:left;
}
th{
    border: 1px dotted black;
    font-weight:normal;
}

tr:nth-child(even) {
    background-color: #fddfc0;
  }

tr:first-child{
    font-weight:bold;
}